
<footer class="page-footer primary">
   <div class="container-fluid">
      <div class="row">
         <div class="col">
            <p style="font-family: Archivo, sans-serif;">Made possible by our sponsors & supporters</p>
         </div>
      </div>
      <div class="row align-items-center d-flex justify-content-evenly" id="logos-bar">
         <div class="col d-flex justify-content-evenly" id="BL-logo"><a href="https://eap.bl.uk/"><img src="assets/img/logo-britishlibrary.png"></a></div>
         <div class="col d-flex justify-content-evenly" id="dispossessions-logo"><a href="https://www.mellon.org/grant-details/dispossessions-in-the-americas:-the-extraction-of-bodies-land-and-heritage-from-la-conquista-to-the-present-20448626"><img src="assets/img/logo-dispossessions_image.png"></a></div>
         <div class="col d-flex justify-content-evenly" id="fmb-logo"><a href="https://www.muntubantu.com/"><img src="assets/img/logo-fmb.png"></a></div>
         <div class="col d-flex justify-content-evenly" id="michigan-logo" style="width: 287px;"><a href="https://umich.edu"><img src="assets/img/logo-michigan.png"></a></div>
         <div class="col d-flex justify-content-evenly" id="penn-logo"><a href="https://www.upenn.edu/"><img src="assets/img/logo-penn.png"></a></div>
         <div class="col d-flex justify-content-evenly" id="sshrc-logo"><a href="https://www.sshrc-crsh.gc.ca/"><img src="assets/img/logo-sshrc.png"></a></div>
         <div class="col d-flex justify-content-evenly" id="wolf-logo"><a href="https://wolfhumanities.upenn.edu/"><img src="assets/img/logo-wolfhumanities.png"></a></div>
      </div>
   </div>
   <div class="footer-copyright">
      <p>© 2024</p>
   </div>
</footer>