<footer>
   <div class="container-fluid bg-light text-dark">
     <div class="row p-3">
       Presentado con el apoyo de nuestros auspiciantes
     </div>
     <div class="row align-items-center d-flex justify-content-evenly">
        <div class="col d-flex justify-content-evenly">
           <img src="../assets/imagenes/logo-britishlibrary.png" class="" alt="">
        </div>

        <div class="col d-flex justify-content-evenly">
           <img src="../assets/imagenes/logo-dispossessions_image.png" class="" alt="">
        </div>

        <div class="col d-flex justify-content-evenly">
           <img src="../assets/imagenes/logo-fmb.png" class="" alt="">
        </div>

        <div class="col d-flex justify-content-evenly">
           <img src="../assets/imagenes/logo-michigan.png" class="" alt="">
        </div>

        <div class="col d-flex justify-content-evenly">
           <img src="../assets/imagenes/logo-penn.png" class="" alt="">
        </div>

        <div class="col d-flex justify-content-evenly">
           <img src="../assets/imagenes/logo-sshrc.png" class="" alt="">
        </div>

        <div class="col d-flex justify-content-evenly">
           <img src="../assets/imagenes/logo-wolfhumanities.png" class="" alt="">
        </div>
     </div>
        <!-- Copyright Notice -->

     <div class="row bg-primary text-light mt-3">
       <div class="row p-3">
          <div class="col text-muted"><p>© 2024</p>
       </div>
     </div>
    
</div>


</footer>

</html>